.header{
    margin: 63px 99px 0 98px;
    min-width: 1280px;
}

.header_link{
    font-style: normal;
    font-weight: normal;
    font-size: 80px;
    line-height: 94px;
    text-decoration: none;
    color: #000000;
}

.header_link-color{
    color: rgba(75, 202, 255, 1);
}

.nav_bar{
    margin-top: 38px;
}

.nav_list{
    list-style: none;
    display: flex;
    align-items: stretch;
    justify-content: center;
    background-color: rgba(53, 68, 79, 1);
    min-height: 72px;
    padding: 0;
}

.nav_item{
    background-color: rgba(53, 68, 79, 1);
    text-align: center;
    padding-top: 20px;
    flex-basis: 350px;
}

.nav_item1{
    border-left: 1px solid white;
    border-right: 1px solid white;
}

.nav_item2{
    border-right: 1px solid white;
    flex-basis: 200px;
}

.nav_item3{
    border-right: 1px solid white;
}
.nav_item4{
    border-right: 1px solid white;
}

.nav_item_link{
    text-decoration: none;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    color: white;
}

.main_container{
    margin: 48px 99px 0 98px;
    min-width: 1280px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.aside_nav{
    border:1px solid #000000;
    margin-right: 52px;
    font-style: normal;
    font-weight: normal;
    font-size: 27px;
    line-height: 27px;
    color: #485863;
    min-width: 344px;
    min-height: 399px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.aside_nav div{
    padding-left: 44px;
}

.image_container{
    text-align: center;
    padding: 75px 286px 73px 297px;
    border: 1px solid #000000;
}

.p1, .p2{
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: #2C2C2C;
}

.p1{
    margin-top: 37px;
    margin-bottom: 34px;
}

.footer_container{
    min-width: 1280px;
    margin: 51px 100px 30px 100px;
    background-color: rgba(99, 105, 110, 0.48);
}

.footer_nav{
    display: flex;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 28px;
    color: #0C1927;
    min-height: 69px;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    /*margin-right: 40px;*/
    margin-left: 40px;
}


.hover_footer_item:hover{
    text-decoration: underline;
    color: rgba(49, 129, 166, 1);
}

.footer_nav:last-child img{
    padding-top: 10px;
    padding-left: 135px;
    padding-right: 40px;
}

.nav_item2:hover{
    background-color: rgba(34, 47, 58, 1);
}

.image_container img:hover{
    transform: scale(1.4);
    transition: 1.2s;
}





